* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body {
  scroll-behavior: smooth;

  font-family: var(--font-family-inter);
  font-size: 16px;
  line-height: 1.2;

  color: hsl(0, 0%, 99%);
  background-color: hsl(216, 6%, 17%);
}
