.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 254px;
  height: 70px;
  object-fit: cover;
  margin-top: 34px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin-top: 20px;
  }
}