.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 254px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 34px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin-top: 20px;
  }
}