.main {
  display: flex;
  flex-direction: column;
  gap: 92px;
  padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .main {
    gap: 88px;
    padding-top: 4px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    gap: 50px;
    padding: 0 0 14px;
  }
}